<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% if authed %}
        {% include "includes/nav.njk" %}
      {% endif %}
      
      {% block content %}{% endblock %}
    </div>
    
    {% block footer %}{% endblock %}
  </body>
</html>