{% extends "layouts/default.njk" %}

{% from "macros/button.njk" import button %}
{% from "macros/table.njk" import table %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="/assets/playlists.css"/>
{% endblock %}

{% set titleSuffix = "Playlists for " + username %}

{% block content %}
  <div class="actions">
    <div class="pagination">
      {% if prev %}
        {{ button({
          text: "Previous",
          href: "?page=" + prev
        }) }}
      {% endif %}
      {% if next %}
        {{ button({
          text: "Next",
          href: "?page=" + next
        }) }}
      {% endif %}
      <span class="current-page">Page {{ currentPage }}</span>
    </div>
  </div>
  <div class="playlists-container">
    {% set rows = [] %}
    {% for playlist in playlists %}
      {% set rows = (rows.push([
        {
          text: '<a href="/playlist/' + playlist.id + '">' + (playlist.name or playlist.id) + "</a>"
        },
        {
          text: playlist.tracks.total,
          type: "number"
        }
      ]), rows) %}
    {% endfor %}

    {{ table({
      thead: [
        {
          text: "Playlist name"
        },
        {
          text: "Total tracks",
          type: "number"
        }
      ],
      rows: rows
    }) }}
  </div>
{% endblock content %}
